/* 제목 */
.title {
    text-align: center;
}

/* 버튼 스타일링 및 위치 */
.compare-button {
    display: block;
    width: 100px;
    height: 100px;
    color: white;
    background-color : black;
    text-align: center;
    line-height: 100px;
}

/* top 버튼 */
